[submodule "gist-vim"]
	path = gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/pep8"]
	path = .vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
